.infos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

@media screen and (max-width: 1150px){
    .infos {
        flex-direction: column;
    }
}