header {
    background: white;
    color: black;
    display: flex;
    align-items: center;
}


.logo{
    display: flex;
    align-items: center;
}

.logo_img{
    width : 3rem;
    height : 3rem;
    margin: 1rem;
}